/* =Reset
--------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    -webkit-text-size-adjust: none;
}
:focus {
    outline: 0;
}
ol,ul {
    list-style: none;
    margin: 0;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption,th,td {
    font-weight: normal;
    text-align: left;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
}
blockquote,q {
    quotes: "" "";
}
a img {
    border: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}
embed,iframe,object {
    max-width: 100%;
}
/* =Global
-----------------------------------------------*/
body,input,textarea,article {
    color: #1d1d1d;
    font: 12px 'Avo';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    -ms-word-wrap: break-word;
}
body {
    border-top: 6px solid #57ad68;
}
hr {
    border-color: #eaeaea;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 0;
    margin: 0 0 40px;
}
.wrapper {
    max-width: 1018px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    max-width: 1018px;
}

::selection {
    background: #57ad68;
    color: #fff;
}
body.custom-background {
    background-color: #E9EAED!important;
    /*background: url(../images/background.jpg) fixed;*/
}

.featured-wrap, #main-nav {
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Avo';
    src: url('../library/font/UTM_Avo.ttf');
}
@font-face {
    font-family: 'AvoBold';
    src: url('../library/font/UTM_AvoBold.ttf');
}
/*
@font-face {
    font-family: 'HelvetIns';
    src: url('../library/font/UTM_HelvetIns.ttf');
}
@font-face {
    font-family: 'SeagullBold';
    src: url('../library/font/UTM_SeagullBold.ttf');
}
*/
$main-color: #018EE4;
$second-color: rgb(242, 100, 51);
