.travel-food-item {
    width: 48%;
    float: left;
    margin: 1%;
    height: 250px;
    border: none!important;
    padding: 0!important;
    article {
        line-height: 18px;
    }
    .medium-wrap {
        height: 180px;
        overflow-y: hidden;
    }
    .have-thumb {
        position: relative;
        .entry-header {
            background: white;
            width: 100%;
            float: left;
            h3 {
                padding: 0px!important;
                height: 36px;
                overflow: hidden;
                a {
                    color: #018EE4;
                    margin: 0px;
                    font-size: 12px;
                    letter-spacing: 0px;
                    text-shadow: none;
                    margin-left: 0px;
                    line-height: 18px;
                }
            }
        }
    }
    .post-featured-image {
        width: 100%;
        float: left;
        margin: 0;
        margin-bottom: 5px;
        margin-top: 5px;
        overflow: hidden;
        img {
            width: 100%;
            @include transition(all 1s ease);
            max-width: 250px;
            height: 120px;
            &:hover {
                @include transform(scale(1.25) rotate(5deg));
            }
        }
    }
    article {
        &:hover {
            -webkit-box-shadow: 0 1px 2px rgba(255, 145, 0, 1);
            box-shadow: 1px 2px 4px rgba(255, 145, 0, 1);
            .entry-title a {
                color: rgba(255, 145, 0, 1)!important;
            }
        }
    }
}
.home-title {
    float: none!important;
}
.item-left {
    margin-left: 0px!important;
}
.item-right {
    margin-right: 0px!important;
}
@media only screen and (max-width: 767px) {
    .travel-food-item {
        width: 96%;
        margin: 2%;
    }
}