/* =Menu
--------------------------------------------------------------*/
#main-nav {
    cursor: pointer;
    color: #0878c0;
    position: relative;
    background-color: lightgrey;
}
#main-nav li {
    float: left;
    position: relative;
    padding: 0;
}
#main-nav a {
    color: #0878c0;
    display: block;
    float: left;
    font-size: 14px;
    padding: 8px 12px 0 10px;
    height: 32px;
    border-top: 3px solid transparent;
    font-weight: 700;
    /*border-left: 1px solid #EBEEF2;*/
}
#main-nav a:hover,#main-nav ul li.current-menu-item a,#main-nav ul li.current_page_ancestor a,#main-nav ul li.current-menu-ancestor a,#main-nav ul li.current_page_item a,#main-nav ul li:hover > a {
    opacity: 1;
    border-top: 3px solid #0878c0;
}
#main-nav ul ul {
    text-shadow: none;
}
#main-nav li:hover > a,#main-nav ul ul :hover > a,#main-nav a:focus {
    color: #0878c0;
}
/* Dropdown */
#main-nav ul li ul,
#main-nav ul li:hover ul ul,
#main-nav ul ul li:hover ul ul,
#main-nav ul ul ul li:hover ul ul,
#main-nav ul ul ul ul li:hover ul ul {
    display: none;
    z-index: 9999;
}
#main-nav ul li:hover ul,
#main-nav ul ul li:hover ul,
#main-nav ul ul ul li:hover ul,
#main-nav ul ul ul ul li:hover ul,
#main-nav ul ul ul ul ul li:hover ul  {
    display: block;
}
#main-nav ul li ul {
    position: absolute;
    background-color: #fff;
    top: 40px;
    left: 0px;
    width: 190px;
}
#main-nav ul li ul li {
    float: none;
    border-bottom: 1px solid #EAEAEA;
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
    padding: 0;
}
#main-nav ul li ul li a,
#main-nav ul li.current-menu-item ul li a,
#main-nav ul li ul li.current-menu-item a,
#main-nav ul li.current_page_ancestor ul li a,
#main-nav ul li.current-menu-ancestor ul li a,
#main-nav ul li.current_page_item ul li a {
    float: none;
    line-height: 21px;
    font-size: 13px;
    font-weight: normal;
    height: 100%;
    padding: 6px 10px;
    color: #777;
    text-transform: capitalize;
    background: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#main-nav ul li.current_page_item ul li a {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#main-nav ul li.current_page_item a {

}
#main-nav ul li ul li a:hover,#main-nav ul li ul li:hover > a,#main-nav ul li.current-menu-item ul li a:hover {
    background-color: #F9F9F9;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #439f55;
}
#main-nav ul li ul li ul {
    left: 188px;
    top: 0px;
}
#main-nav select {
    display: none;
}
.default-menu {
    display: none;
}